* {
  padding: 0px;
  margin: 0px;
}
body {
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
}
.header1 {
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255,255,255,0.125); */ 
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerholder {
  width: 85%;
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headericons {
  width: 55px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headericons1 {
  width: 30px;
  height: 30px;
  background-image: url(../myproject/projectimg/free-user-icon-3296-thumb-removebg-preview.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.headericons2 {
  width: 30px;
  height: 30px;
  background-image: url(../myproject/projectimg/cart-icon-512x512-s79qyenk-removebg-preview.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}
.iconcirclediv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
  margin-bottom: 20px;
}
.iconcircle{
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  color: black;
  text-decoration: none;
  background-color: white;
  border-radius: 50px;
}
.iconcircle:hover{
  text-decoration: none;
}
.headericons2:hover{
  text-decoration: none;
}
.logo {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #5c3421;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 22px;
}

.nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  opacity: 1;
  padding: 2px;
  border-radius: 3px;
}
.nav ul li a:hover {
  border-bottom: 1px solid #fff;
}
.hamburger {
  width: 60px;
  display: none;
  align-items: center;
  justify-content: center;
}
.hamburger img {
  width: 100%;
  height: 100%;
}

.detailpage {
  background-color: #f3f1eb;
  width: 100%;
  height: 100vh;
  display: flex;
}
.leftcard {
  /* margin-top: 20px; */
  width: 50%;
  height: 100%;
  background-color: #f7e9dc;
  background-image: url(../myproject/projectimg/downloadwristwatch.png);
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
}
.rightcard {
  /* margin-top: 20px; */
  width: 50%;
  height: 100%;
  background-color: #ad7949;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightcardholder {
  width: 500px;
}
.header {
  width: 380px;
}
.shirts {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}
.header h3 {
  font-size: 38px;
  margin-bottom: 5px;
}
.italic {
  font-size: 20px;
  margin-bottom: 15px;
  font-style: italic;
}
.smalltext {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 13px;
}
.money {
  font-size: 30px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 15px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.minus {
  width: 35px;
  height: 30px;
  font-size: 15px;
  border-radius: 3px;
  font-weight: bold;
  background-color: white;
  color: #431f11;
  border: 1px solid black;
  border: none;
}
.add {
  width: 35px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  background-color: #431f11;
  border-radius: 3px;
  color: white;
  border: none;
}
.buttonnumber {
  font-size: 14px;
  font-weight: bold;
}
.addtocartdiv {
  width: 400px;
}
.addtocart {
  width: 170px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: bolder;
  color: #431f11;
  background-color: white;
}
.buynow {
  width: 170px;
  height: 50px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #431f11;
  color: white;
  border: none;
  font-size: 12px;
  font-weight: bold;
}

.footerpage{
  width: 100%;
  height: 350px;
  /* margin-top: 35px; */
  background-color: #d8c09c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerholder{
  width: 85%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstfooter{
  width: 32%;
  height: 75%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footerlogo{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}
.footerlogoimg{
  width:65px;
  height: 50px;
  margin-bottom: 10px;
  background-image: url(../myproject/projectimg/logo3-removebg-preview.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footericons{
  width: 160px;
  margin-top: 20px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
}
.twitter{
  width: 27px;
  height: 27px;
  border: 1px solid #643924;
  border-radius: 5px;
  background-image: url(../myproject/projectimg/black-twitter-logo-black-twitter-icon-twitter-symbol-free-free-vector-removebg-preview.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.linkedin{
  width: 27px;
  height: 27px;
  border: 1px solid #643924;
  border-radius: 5px;
  background-image: url(../myproject/projectimg/6bab3017350ca04c6fa05569672bd31e.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.facebook{
  width: 27px;
  height: 27px;
  border: 1px solid #643924;
  border-radius: 5px;
  background-image: url(../myproject/projectimg/png-transparent-crescent-arts-centre-facebook-inc-computer-icons-black-facebook-thumbnail-removebg-preview.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.instagram{
  width: 27px;
  height: 27px;
  border: 1px solid #643924;
  border-radius: 4px;
  background-image: url(../myproject/projectimg/png-transparent-instagram-social-media-instagram-black-social-social-media-logo-icon-removebg-preview.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.exclusively{
  width: 100%;
}
.exclusively h3{
  font-size: 18px;
  padding-bottom: 10px;
}
.exclusively p{
  font-size: 16px;
  font-weight: 500;
}
.footerproductholder{
  width: 38%;
  height: 75%;
  /* background: beige; */
  display: flex;
  align-items: center;
}
.footerrightside{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footerproduct{
  width: 180px;
  height: 200px;
  line-height: 25px;
}
.Product{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.products{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.newsletter{
    width: 30%;
    height: 75%;
    margin-top: 3px;
     /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
  }
  .newsletter h3{
    font-size: 18px;
    margin-bottom: 6px;
  }
  .newsletter p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 12px;
  }
  input{
    width: 230px;
    height: 40px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 0px 10px;
    border: 1px solid #643924;
    cursor: pointer;
  }
  input::placeholder{
    padding: 0px 10px;
  }
  button{
    width: 200px;
    height: 40px;
    background-color: #643924;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }

/* #532620 */
@media (max-width: 480px) {
  .nav {
    display: none;
    width: 78%;
    height: calc(100vh - 70px);
    position: fixed;
    top: 67px;
    left: 0;
    background-color: #d8c09c;

  }
  .nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .nav ul li {
    text-align: center;
    width: 300px;
    padding: 10px 0;
    border-bottom: 1px solid #3d1b0b;
  }
  .hamburger {
    display: flex;
  }
  .logo{
    margin-left: 80px;
  }
  .nav.open {
    display: flex;
    justify-content: center;
  }
  .nav ul {
    display: flex;
  }
  .hamburger {
    display: flex;
  }
  .detailpage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .leftcard {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;
  }
  .rightcard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rightcardholder {
    width: 370px;
    margin-top: 20px;
  }
 .shirts{
  font-size: 14px;
 }
  .header h3 {
    font-size: 25px;
  }
  .italic{
    font-size: 16px;
    font-weight: 500;
  }
  .money {
    font-size: 19px;
    margin-top: 15px;
  }
  .minus {
    width: 30px;
    margin-top: 15px;
    height: 25px;
  }
  .add {
    width: 30px;
    margin-top: 15px;
    height: 25px;
  }
  .addtocart {
    width: 150px;
    height: 50px;
  }
  .buynow {
    margin-left: 58px;
    width: 150px;
    height: 50px;
  }
  .footerpage {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
  }
  .footerholder {
    width: 370px;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  .firstfooter {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 20px;
  }
  .footerproductholder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #333;
  }
  .footerproduct{
    margin-top: 30px;
  }
  .footerrightside {
    display: flex;
  }
  .newsletter {
    width: 100%;
    border-bottom: 1px solid #333;
  }
  button {
    width: 150px;
    margin-bottom: 20px;
  }
  .footerlogoimg {
    margin-bottom: 1px;
  }
  .exclusively {
    margin-top: 20px;
  }
  .exclusively h3 {
    font-size: 16px;
  }
  .exclusively p {
    font-size: 14px;
  }
}
